@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


body {
    background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-457113.jpg");
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.heading {
    width: 50%;
    margin: auto;

}

.list {

    h2 {
        color: #fff; 
        text-align: center;
        padding: 50px;
    }
}
